<h2>find a song: start with artist</h2>
<!-- <label>Search: <input ng-model="searchText"></label> -->
<!-- calls on submision and automatically prevents event.preventDefault() -->
<form>
  <div class="form-group">
    <input class="form-control" ng-model="usersCtrl.artist.name" type="text" placeholder="an artist">
    <button class="btn btn-primary form-control" type="submit" ng-click="usersCtrl.getArtist(usersCtrl.artist)">Get artist</button>
  </div>

</form>
<br>
<br>

<label>Search: <input ng-model="searchText"></label>

<table id="searchTextResults" class="table">
    <thead>
        <tr>
            <th>Songs</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="s in usersCtrl.songs | filter:searchText">
            <td><a href="#" ng-click="usersCtrl.addtoPL(s.id)">{{s.title}}</a></td>
        </tr>
    </tbody>
</table>
